.page-header {
  height: 520px;
  padding-top: 120px;
  width: 100%;
  color: #FFFFFF;
  background-color: rgb(255, 213, 107);
  background-image: url("/../images/arabesque.png");

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.page-header > div > h2 {
  margin: 0px;
}


@media only screen and (min-width: 1024px) {
  .page-header {
    padding: 0px;
    height: 400px;
    margin: 200px 10px 20px 20px;
    width: 30%;
    float: left;
  }
}